/* 防止行動瀏覽器雙擊放大 */
button,
img {
    touch-action: manipulation;
}

.consonant-placeholder,
.vowel-placeholder {
    position: relative;
    margin: auto;
    width: 6rem;
}

.vowel-placeholder #vowel,
#audioPlayer {
    position: relative;
    top: -2em;
}

@media (max-width: 575.98px) {

    .consonant-placeholder,
    .vowel-placeholder {
        width: 5rem;
    }

    #vowel {
        top: -1.65em;
    }
}

.consonant-placeholder img,
.vowel-placeholder img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#sounds8800 #vowel,
#sounds8800 #consonant {
    max-height: 10rem;
}

#sounds8800 #vowel {
    position: relative;
    left: -1.75em;
}

#sounds8800 #consonant {
    position: relative;
    left: 1.75em;
}

@media (max-width: 767.98px) {

    #sounds8800 #vowel,
    #sounds8800 #consonant {
        max-height: 5rem;
        left: 0.95em;

    }

    #sounds8800 #vowel {
        left: -0.95em;
        top: 0;
    }
}

/* 「+20個尾子音」 */
#descText {
    display: none;
}

#sounds8800 #audioPlayer {
    margin-top: 3.5em;
    margin-bottom: 5em;
}

/*‧ㄙㄨㄚ垂直置中 */
#suah {
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
}